asgiref==3.5.2
attrs==22.1.0
Django==3.2
django-cors-headers==3.13.0
django-debug-toolbar==3.5.0
django-filter==22.1
djangorestframework==3.13.1
drf-spectacular==0.23.1
isort==5.10.1
jsonschema==4.9.1
psycopg2-binary==2.9.3
pyrsistent==0.18.1
python-dotenv==0.20.0
pytz==2022.2.1
PyYAML==6.0
sqlparse==0.4.2
uritemplate==4.1.1
